<section id="detail_1_{{id}}" data-transition="slide">
    <header data-title="aaa">
        <nav class="left">
            <a href="#back" data-router="section" class="icon left"></a>
        </nav>

        <nav class="right">
            <a href="#" class="button"> ▶ </a>
        </nav>
    </header>
    <article class="active">
        <div style="display:block;width:50%;float:left;overflow: auto;">
            <p>
                <strong>{{ja_JP.title}}</strong>
            </p>
            <p>
                {{#ja_JP.content_encoded}}
                    {{.}}
                {{/ja_JP.content_encoded}}
            </p>
        </div>
        <div style="display:block;width:50%;float:left;overflow: auto;">
            <p>
                <!--strong>{{en.title}}</strong-->
            </p>
            <p>
                {{en}}
            </p>
        </div>
    </article>
</section>